.spinner{
  margin: auto;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: '';
  /* background-color: rgba(0, 0, 0, .5); */
  border: 5px solid transparent;
  border-top: 5px solid rgb(255, 5, 26);
  border-right: 5px solid rgb(255, 5, 26);
  border-radius: 50%;
  width: 110px;
  height: 110px;
  animation: spin .5s linear infinite;
}
.show{
  display: block;
}

.spinner-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  z-index: 100;
  display: none;
}


.spinner-overlay img {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
